.dog-info {
  margin-bottom: 34px;
}

.dog-info p {
  width: 300px;
}

.paw-print {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}

@media screen and (max-width: 1118px) {
  .paw-print {
    display: block;
  }
}
