.dog-name {
  width: calc(100%/5);
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.underline {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
}

