<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <main class="w-100">
      <section
        #welcomeSection
        id="welcome-section"
        class="d-flex justify-content-center w-100 position-relative"
      >
        <div class="col-md-8 d-flex flex-column">
          <h1 class="secondary-font text-white py-3">
            HoneyGold Golden Retrievers
          </h1>

          <div
            class="
              welcome-content
              d-flex
              flex-column
              justify-content-around
              align-items-start
              col
              p-0
            "
          >
            <div class="welcome-message text-white">
              <h2 (click)="isWelcomeSectionShown()">
                This is <br />
                Mel.
              </h2>
              <h5 class="secondary-font">Her puppies need a new home</h5>
            </div>

            <app-cta></app-cta>
          </div>
        </div>
      </section>

      <section id="photo-gallery" class="d-flex justify-content-center w-100">
        <!-- TODO Make this HTML readable -->
        <div class="col-md-8" id="images-h">
          <div class="img-col img-col-1">
            <img src="../assets/img/THREE WEEKS OLD.jpg" alt="" />
            <img src="../assets/img/PUPS ON THE STAIRS.jpg" alt="" />
            <div class="sub-col">
              <img src="../assets/img/FEEDING PUPS.jpg" alt="" />
              <img src="../assets/img/DAD.jpg" alt="" />
            </div>
          </div>
          <div class="img-col img-col-2 d-flex flex-column">
            <img src="../assets/img/OFFICIAL THING 1.jpg" alt="" />
            <img src="../assets/img/OFFICIAL THING 2.jpg" alt="" />

            <div class="grow-img">
              <img
                src="../assets/img/IN THE KENNEL.jpg"
                alt=""
                class="prevent-image-stretch"
              />
            </div>
          </div>
        </div>
      </section>

      <section
        id="about-us-section"
        class="d-flex justify-content-center w-100"
      >
        <div class="col-md-8 d-flex align-items-center">
          <div class="content mr-5">
            <h2 class="secondary-font font-weight-bold d-inline-block mb-4">
              GET TO KNOW US
            </h2>
            <p class="text-justify">
              Hi! We’re the Thurman Family! We’re so glad you are interested in
              our puppies! We have had Goldens for years now, and have always
              dreamed of spreading the joy they bring to others. Mel has allowed
              us to make that dream a reality!
            </p>
          </div>
          <img
            alt="Thurman Family"
            src="../assets/img/thurman-family-placeholder-m.png"
          />
        </div>
      </section>
      <app-select-dog-section></app-select-dog-section>
    </main>
  </div>
</div>

<router-outlet></router-outlet>
